/*
 * @Author: Siwen
 * @LastEditors: Siwen
 * @Date: 2019-04-24 11:35:51
 * @LastEditTime: 2019-04-25 13:41:25
 * @Description: 颜色变量
 */
$white: #fff;
$btnTextColor: #5d1603;
$text333: #333333;
$text999: #999999;

