/*
 * @Author: Siwen
 * @LastEditors: Siwen
 * @Date: 2019-04-24 11:35:51
 * @LastEditTime: 2019-06-21 16:12:19
 * @Description: 颜色变量
 */

$white: #fff;
$mainBgColor: rgba(68, 87, 174, 0.5);
// 强调性颜色
$mainTextColor: #ffe35e;
// tabs按钮颜色
$tabsBgColor: #110f56;
$tabsBtnTextColor: #b9c5ff;
$tabsBtnTextActiveColor: #ffe9ab;
$tabsBtnBorderColor: #7dd6ff;
// 选项文字颜色
$itemTextColor: #fefefe;
$itemTextNumberColor: #ffcd5e;
$itemTextAcriveColor: #f05e06;
$itemTextNumberAcriveColor: #f05e06;
$itemBallNumberColor:  #2e4392; //圆形数字色
// 投注弹窗内颜色
$popupTitleColor: #b9c5ff;
$popupItemBgColor: #2e3b7b;
// 确认型按钮文字颜色
$confirmTextColor: #ba4700;
// 首页开奖球文字颜色
$ballTextColor: #1b1b1b;
// 最新动态部分颜色
$noticeTitleColor: #ffe9ac;
$noticeTextColor: #dcbfc3;
// 助手页面颜色
$aideBoxColor: #20296e;
$aideNumberTextColor_da: #a33f02;
$aideNumberBgColor_da: #e6b42b;
$aideNumberBgColor_xiao: #7358fb;
$aideNumberTextColor_long: #a33f02;
$aideNumberBgColor_long: #e6b42b;
$aideNumberBgColor_hu: #7358fb;
$aideNumberBgColor_dan: #2cb8b0;
$aideNumberBgColor_shuang: #7358fb;
$aideNumberBorderColor: #ac91ad;
// 号码颜色（和首页banner开奖号码颜色共用）
$aideNumberNo1_BgColor: #e6de00;
$aideNumberNo2_BgColor: #0092dd;
$aideNumberNo3_BgColor: #4b4b4b;
$aideNumberNo4_BgColor: #ff7600;
$aideNumberNo5_BgColor: #17e2e5;
$aideNumberNo6_BgColor: #5234ff;
$aideNumberNo7_BgColor: #bfbfbf;
$aideNumberNo8_BgColor: #ff2600;
$aideNumberNo9_BgColor: #780b00;
$aideNumberNo10_BgColor: #07bf00;
// 底部金额选择颜色
$oddsNumberBgColor: #110f56;
$oddsNumberBorderColor: #6da7fe;
// 订单记录颜色
$orderBorderColor: #644165;
